# DEPRECATED: This file is no longer used.
# Please add your BotToken to private_config.ini under the [Discord] section instead.
#
# Example in private_config.ini:
# [Discord]
# BotToken=YOUR_BOT_TOKEN_HERE
# SelectedGuildId=your_guild_id_here
# SelectedGuildName=your_guild_name_here
# MatchThreshold=80
